@inherits LayoutComponentBase

<div class="bb-page">

  <Sidebar2 Href="/"
            IconName="IconName.FileEarmarkCodeFill"
            Title="Blazor Bootstrap"
            BadgeText="v2.1.0"
            DataProvider="Sidebar2DataProvider" />

  <main>
    <div class="bb-top-row px-4 d-flex justify-content-end">
      <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <article class="content px-4">
      <div class="py-2">
        @Body
      </div>
    </article>
  </main>

</div>

<!--CustomIconName="bi bi-FileEarmarkBinaryFill"-->
@code {
  IEnumerable<NavItem>? navItems;

  private async Task<Sidebar2DataProviderResult> Sidebar2DataProvider(Sidebar2DataProviderRequest request)
  {
    if (navItems is null)
      navItems = GetNavItems();

    return await Task.FromResult(request.ApplyTo(navItems));
  }

  private IEnumerable<NavItem> GetNavItems()
  {
    navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Ana Sayfa", Match=NavLinkMatch.All},

            new NavItem { Id = "2", Href = "/fetchdata", IconName = IconName.Table, Text = "Fetch Data"},

            new NavItem { Id = "3",  Text = "Mükellef Listesi", IconColor = IconColor.Warning },
            new NavItem { Id = "30", Href = "/gibuserlistserver", IconName = IconName.Server, Text = "Server Tabanlı Listeleme", ParentId="3"},
            new NavItem { Id = "31", Href = "/gibuserlistclient", IconName = IconName.PersonVCard, Text = "Client Tabanlı Listeleme", ParentId="3"},
            new NavItem { Id = "32", Href = "/gibuserlistsetting", IconName = IconName.PatchQuestionFill, Text = "Sorgulama İşlemleri", ParentId="3"},

            new NavItem { Id = "4", IconName = IconName.ExclamationTriangleFill, Text = "E-Fatura", IconColor = IconColor.Success },
            new NavItem { Id = "40", Href = "/invoiceanalysis", IconName = IconName.SegmentedNav, Text = "Analiz", ParentId="4"},

            new NavItem { Id = "41", IconName = IconName.ListNested, Text = "Gelen", ParentId="4"},
            new NavItem { Id = "410", Href = "/invoiceincomingenvelope", IconName = IconName.EnvelopeArrowDown, Text = "Zarf", ParentId="41"},
            new NavItem { Id = "411", Href = "/sidebar2/how-to-use", IconName = IconName.BuildingDown, Text = "E-Fatura", ParentId="41"},
            new NavItem { Id = "412", Href = "/sidebar2/how-to-use", IconName = IconName.BoxArrowDownLeft, Text = "Yanıt", ParentId="41"},

            new NavItem { Id = "42", IconName = IconName.Grid, Text = "Giden", ParentId="4", IconColor = IconColor.Danger },
            new NavItem { Id = "420", Href = "/invoiceoutgoingenvelope", IconName = IconName.EnvelopeArrowUp, Text = "Zarf", ParentId="42"},
            new NavItem { Id = "421", Href = "/grid/#", IconName = IconName.BuildingFillUp, Text = "E-Fatura", ParentId="42"},
            new NavItem { Id = "422", Href = "/grid/#", IconName = IconName.BoxArrowUpRight, Text = "Yanıt", ParentId="42"},

            new NavItem { Id = "43", Href = "/alerts", IconName = IconName.CheckCircleFill, Text = "Tanımlar", ParentId="4"},
        };

    return navItems;
  }
}
